.auth__form {
    padding: 40px;
    border-radius: 5px;
}

section{
    margin-bottom: 100px;
}

.login__btn {
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    width: 60%;
    height: 45px;
    border: none;
}
.login__btn:hover{
    background-color:#4DD637;
}

.form__group input {
    width: 60%;
    padding: 10px;
    outline: white;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 5px;
    font-size: 0.9rem;

}

.auth__form input[type='file']{
    color: black;
}