.product__details{
    margin-top: 150px;
}


.product__details h2{
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.product__rating span i{
    color: coral;
}

.product__details p span{
        color: coral;
        font-weight: 500;
}

.product__price{
    font-size: 1.4rem;
    font-weight: 500;
}

.buy__btn{
    font-size: 1.2rem;
    padding: 6px;

    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}